# 4D'S World Backend Environment Configurations

# Flask App Secret Key
SECRET_KEY=replace_with_a_long_random_secret_key

# Flask Port
PORT=5000

# Admin Panel Access Password
ADMIN_PASSWORD=replace_with_secure_admin_password

# Paystack API Keys
PAYSTACK_PUBLIC_KEY=your_paystack_public_key_here
PAYSTACK_SECRET_KEY=your_paystack_secret_key_here

# MongoDB
MONGO_URI=
MONGO_DB_NAME=4DS_WORLD_DB

# Firebase Admin SDK
FIREBASE_CREDENTIAL_PATH=your_firebase_credentials_file.json

# WhatsApp Number
WHATSAPP_PHONE=your_whatsapp_number